In [1]:
import sqlite3

In [2]:
connexion = sqlite3.connect('nominations.db')

In [3]:
connexion.execute('PRAGMA TABLE_INFO(nominations)').fetchall()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'INTEGER', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Character', 'TEXT', 0, None, 0)]

In [4]:
for row in connexion.execute('select * from nominations limit 10;').fetchall():
    print(row)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

## Création de la table ceremonies

In [ ]:
# executemany(query, list)
(2010, 'Steve Martin'),
(2009, 'Hugh Jackman'),
(2008, 'Jon Stewart'),
(2007, 'Ellen DeGeneres'),
(2006, 'Jon Stewart'),
(2005, 'Chris Rock'),
(2004, 'Billy Crystal'),
(2003, 'Steve Martin'),
(2002, 'Whoopi Goldberg'),
(2001, 'Steve Martin'),
(2000, 'Billy Crystal')

In [7]:
connexion.execute("create table ceremonies(id integer primary key, Year integer, Host text);").fetchall()

[]

In [8]:
connexion.execute("select name from sqlite_master where type = 'table'").fetchall()

[('nominations',), ('ceremonies',)]

In [9]:
connexion.execute("pragma table_info(ceremonies)").fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

In [12]:
year_hosts = [
(2010, 'Steve Martin'),
(2009, 'Hugh Jackman'),
(2008, 'Jon Stewart'),
(2007, 'Ellen DeGeneres'),
(2006, 'Jon Stewart'),
(2005, 'Chris Rock'),
(2004, 'Billy Crystal'),
(2003, 'Steve Martin'),
(2002, 'Whoopi Goldberg'),
(2001, 'Steve Martin'),
(2000, 'Billy Crystal')]

In [13]:
insert_query = 'insert into ceremonies(Year, Host) values(?,?);'

In [14]:
connexion.executemany(insert_query, year_hosts).fetchall()

[]

In [15]:
connexion.commit()

In [16]:
connexion.execute("select * from ceremonies limit 10;").fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

## contrainte de clé externe

In [17]:
connexion.execute('pragma foreign_key = on;').fetchall()

[]

## Relation one_to_many avec la table nominations

In [18]:
connexion.execute('create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremony_id integer references ceremonies(id));').fetchall()

[]

In [19]:
connexion.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [20]:
nominations_join_query = 'SELECT nominations.category, nominations.nominee, nominations.movie,nominations.character, nominations.won, ceremonies.id FROM nominations INNER JOIN ceremonies ON nominations.year == ceremonies.year;'

In [21]:
nominations_join = connexion.execute(nominations_join_query).fetchall()

In [22]:
insert_nominations_two = 'insert into nominations_two values (null, ?,?,?,?,?,?);'

In [23]:
connexion.executemany(insert_nominations_two, nominations_join).fetchall()
connexion.commit()

In [24]:
connexion.execute('DROP TABLE nominations;').fetchall()

[]

In [25]:
connexion.execute('ALTER TABLE nominations_two RENAME TO nominations;').fetchall()

[]

In [26]:
connexion.execute('pragma table_info(nominations)').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [28]:
connexion.execute('select * from nominations limit 10;').fetchall()

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 (2,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 (3,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 (4,
  'Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 (5,
  'Actor -- Leading Role',
  'James Franco',
  '127 Hours',
  'Aron Ralston',
  0,
  1),
 (6,
  'Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 (7,
  'Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 (8,
  'Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 (9,
  'Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 (10,
  'Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1)]

In [29]:
connexion.commit()

## Création d'une Join Table

In [34]:
movies = 'create table movies (id integer primary key, movie text);'
actors = 'create table actors (id integer primary key, actor text);'
movies_actors = 'CREATE TABLE movies_actors (id INTEGER PRIMARY KEY, movie_id INTEGER REFERENCES movies(id), actor_id INTEGER REFERENCES actors(id));'

In [38]:
#connexion.execute(movies)
#connexion.execute(actors)
connexion.execute(movies_actors)

In [41]:
connexion.execute('select name from sqlite_master where type = "table";').fetchall()

[('ceremonies',),
 ('nominations',),
 ('movies',),
 ('actors',),
 ('movies_actors',)]

In [42]:
connexion.execute('pragma foreign_key_list(movies_actors);').fetchall()

[(0, 0, 'actors', 'actor_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE'),
 (1, 0, 'movies', 'movie_id', 'id', 'NO ACTION', 'NO ACTION', 'NONE')]