# Préparer les données pour SQLITE

In [1]:
import pandas as pd 
import sqlite3 

df  = pd.read_csv('academy_awards.csv', encoding='iso-8859-1')

In [2]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['Category'].value_counts() # permet de voir une description des données

Writing                                                        888
Music (Scoring)                                                748
Cinematography                                                 572
Art Direction                                                  552
Best Picture                                                   485
Sound                                                          460
Short Film (Live Action)                                       434
Scientific and Technical (Technical Achievement Award)         428
Music (Song)                                                   413
Actress -- Leading Role                                        411
Directing                                                      410
Actor -- Leading Role                                          408
Film Editing                                                   385
Costume Design                                                 384
Actor -- Supporting Role                                       375
Actress -- Supporting Role                                     375
Short Film (Animated)                                          328
Documentary (Short Subject)                                    323
Documentary (Feature)                                          292
Foreign Language Film                                          283
Scientific and Technical (Scientific and Engineering Award)    273
Honorary Award                                                 159
Visual Effects                                                 117
Sound Editing                                                  104
Special Effects (archaic category)                              92
Makeup                                                          86
Scientific and Technical (Academy Award of Merit)               45
Irving G. Thalberg Memorial Award                               44
Animated Feature Film                                           37
Assistant Director (archaic category)                           35
Jean Hersholt Humanitarian Award                                33
Scientific and Technical (Bonner Medal)                         33
Documentary (other)                                             25
Dance Direction (archaic category)                              22
Scientific and Technical (Gordon E. Sawyer Award)               22
Special Achievement Award                                       18
Scientific and Technical (Special Awards)                       18
Acting (other)                                                  14
Unique and Artistic Picture (archaic category)                   3
Engineering Effects (archaic category)                           3
Name: Category, dtype: int64

In [4]:
df['Nominee'].value_counts()

Meryl Streep                                             16
Titanic                                                  14
Cleopatra                                                13
A Star Is Born                                           13
Jack Nicholson                                           12
                                                         ..
Syriana                                                   1
You Light Up My Life                                      1
Trees and Jamaica Daddy -- Stephen Bosustow, Producer     1
Ouverture                                                 1
Marjoe                                                    1
Name: Nominee, Length: 6001, dtype: int64

In [5]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 resilience                                                                                                     1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [6]:
df.shape # nbre lignes et colonnes

(10137, 11)

## Filtrer les données

In [7]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [9]:
df['Year'].dtypes

dtype('O')

In [10]:
df['Year'] = df['Year'].str[0:4] # permet de récuperer les 4 premiers éléments

In [11]:
df['Year'].dtypes

dtype('O')

In [13]:
df['Year'] = df['Year'].astype('int64')

In [14]:
df['Year'].dtypes

dtype('int64')

In [15]:
later_than2000 = df[df['Year'] > 2000]

In [16]:
later_than2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
later_than2000['Year'].value_counts()

2009    140
2001    137
2010    135
2006    130
2005    129
2004    129
2007    127
2002    127
2003    122
2008    118
Name: Year, dtype: int64

In [18]:
later_than2000.shape

(1294, 11)

In [19]:
# actor -- leading role
# actor -- supporting role
# actress -- leading role
# actress -- supporting role 
award_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

In [20]:
nominations = later_than2000[later_than2000["Category"].isin(award_categories)]

In [21]:
nominations.shape

(200, 11)

In [22]:
nominations['Category'].value_counts()

Actor -- Leading Role         50
Actress -- Supporting Role    50
Actress -- Leading Role       50
Actor -- Supporting Role      50
Name: Category, dtype: int64

## Nettoyer les colonnes Unnamed et Won

In [23]:
replacements = {"NO": 0, "YES" : 1}

In [24]:
nominations["Won?"] = nominations['Won?'].map(replacements)

In [25]:
nominations['Won?'].value_counts()

0    160
1     40
Name: Won?, dtype: int64

In [26]:
nominations['Won'] = nominations['Won?']

In [27]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [28]:
drop_cols = ['Won?', 'Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10']

In [29]:
final_nominations = nominations.drop(drop_cols, axis = 1)

In [30]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

## Nettoyage de la colonne Additional Info

In [31]:
# Film {'PERSONNAGE'}
#Biutiful {'Uxbal'}

In [32]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")#coupe à partir de charactere specifié

In [33]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [38]:
additional_info_two = additional_info_one.str.split(" {'", expand = True)

In [42]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [43]:
movie_name = additional_info_two[0]

In [44]:
movie_name.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [45]:
characters = additional_info_two[1]

In [46]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [47]:
final_nominations['Movie'] = movie_name
final_nominations['Character'] = characters

In [48]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [53]:
final_nominations.drop(['Additional Info'], axis = 1)

KeyError: "['Additional Info'] not found in axis"

In [50]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [54]:
final_nominations.shape

(200, 6)

## Explorer avec SQLite

In [55]:
# to_sql(name, connexion)
final_nominations.dtypes

Year          int64
Category     object
Nominee      object
Won           int64
Movie        object
Character    object
dtype: object

In [56]:
connexion = sqlite3.connect('nominations.db')# creation de la base de données si elle n'existe pas

In [57]:
final_nominations.to_sql('nominations', connexion,if_exists = 'append', index = False ) # l'option append permet d'ajouter des données déjà ajoutées

In [58]:
final_nominations.to_sql('nominations', connexion,if_exists = 'replace', index = False ) # l'option replace permet de remplacer les donnée déjà existante